/*---------
 Global Vars
 * ---------*/
:root {
  --color-dark: #0f1318;
  --color-light: #adadad;
  --color-gray: #262626;
  --color-theme: #4e008a;
  --radius: 10px;
  --transition: 0.25s ease;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Mulish', sans-serif;
}
/*---------
 Global Styles
 * ---------*/
body {
  margin: 10vh;
  padding: 0;
  font-family: var(--font-body);
  color: var(--color-light);
  background-color: var(--color-dark);
}

/*---------
 Header Styles
 * ---------*/
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius);
}




